.test{
  background-color: aqua;
  width: 50%;
  height: 100;
}
.container {
  padding: 0 0rem;
  background-color: rgb(242, 242, 240);
  overflow: hidden;
}

.main {
  min-height: 250vh;
  padding: 0rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(242, 242, 240);
}

.headerContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px outset rgb(218, 196, 196);
  padding: 0.5rem;
}

.topContainer{
  background-color: rgb(176, 169, 159);
  width: 100%;
  flex: 1;  
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 5rem;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 80px 0 rgba(0, 0, 0, 0.19);
}

.topContent{
  padding: 1rem 2rem;
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.workingContainer{
  background-color: rgb(221,214,206);
  flex:1;
  width: 100%;
  margin-bottom: 5rem;
  padding: 1rem 2rem;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 80px 0 rgba(0, 0, 0, 0.19);
}

.educationContainer{
  background-color: rgb(221,214,206);
  flex:1;
  width: 100%;
  margin-bottom: 5rem;
  padding: 1rem 2rem;
  align-items: flex-end;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 80px 0 rgba(0, 0, 0, 0.19);
}

.skillsContainer{
  background-color: rgb(221,214,206);
  flex:1;
  max-height: 40rem;
  width: 100%;
  margin-bottom: 5rem;
  padding: 1rem 2rem;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 80px 0 rgba(0, 0, 0, 0.19);
}

.skillCategoryContainer{
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}

.projectsContainer{padding: 1rem 2rem;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  background-color: rgb(221,214,206);
  width: 100%;
  min-height: 20rem;
  flex: 1;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 80px 0 rgba(0, 0, 0, 0.19);
}

.carouselContainer{
  height: 25rem;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.projectCard{
  justify-content: center;
  
  text-justify: center;
  height: 20rem;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 80px 0 rgba(0, 0, 0, 0.19);
}


.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}


.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
